<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.hangout.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".sqlite.database.Controller.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sqlite.database.Controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sqlite.database.Controller.FriedRice" />
        <activity android:name=".sqlite.database.Controller.biriyani" />
        <activity android:name=".sqlite.database.Controller.rice" />
        <activity android:name=".sqlite.database.Controller.hoppers" />
        <activity android:name=".sqlite.database.Controller.kottu" />
        <activity android:name=".sqlite.database.Controller.noodles" />
        <activity android:name=".sqlite.database.Controller.stringhoppers" />
        <activity android:name=".sqlite.database.Controller.breakfast" />
        <activity android:name=".sqlite.database.Controller.dinner" />
        <activity android:name=".sqlite.database.Controller.roti" />
        <activity android:name=".sqlite.database.Controller.lunch" />
        <activity android:name=".sqlite.database.Controller.pittu" />
        <activity android:name=".sqlite.database.Controller.payment" />
        <activity android:name=".sqlite.database.Controller.lunch_time" />
        <activity android:name=".sqlite.database.Controller.breakfast_time" />
        <activity android:name=".sqlite.database.Controller.dinner_time" />
        <activity android:name=".sqlite.database.Controller.paymentOption" />
        <activity android:name=".sqlite.database.Controller.finalactivity" />
        <activity android:name=".sqlite.database.Controller.OrderDetails"></activity>
    </application>

</manifest>