<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.hangout.myapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FriedRice" />
        <activity android:name=".biriyani" />
        <activity android:name=".rice" />
        <activity android:name=".hoppers" />
        <activity android:name=".kottu" />
        <activity android:name=".noodles" />
        <activity android:name=".stringhoppers" />
        <activity android:name=".breakfast" />
        <activity android:name=".dinner" />
        <activity android:name=".roti" />
        <activity android:name=".lunch" />
        <activity android:name=".pittu" />
        <activity android:name=".payment" />
        <activity android:name=".lunch_time" />
        <activity android:name=".breakfast_time" />
        <activity android:name=".dinner_time" />
        <activity android:name=".paymentOption" />
        <activity android:name=".finalactivity"></activity>
    </application>

</manifest>